.container--0- {
  position: absolute;
  left: 2036px;
  top: 660px;
  width: 1439px;
  height: 7000px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-0-1-2 {
  position: absolute;
  left: 723px;
  top: 3301px;
  width: 720px;
  height: 796.5px;
  justify-content: start;
  align-items: start;
}
.text-0-1-3 {
  width: 1385px;
  height: 74px;
  color: #000000;
  font-size: 20px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: center;
  vertical-align: top;
}
.container-0-1-5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1443px;
  height: 112px;
  justify-content: start;
  align-items: start;
}
.text-1-2-2 {
  width: 79px;
  height: 38px;
  color: #ffffff;
  font-size: 40px;
  font-family: Passion One, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-1-2-3 {
  width: 112px;
  height: 38px;
  color: #ffffff;
  font-size: 40px;
  font-family: Passion One, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-1-2-4 {
  width: 190px;
  height: 38px;
  color: #ffffff;
  font-size: 40px;
  font-family: Passion One, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-12 {
  width: 227px;
  height: 58px;
  color: #000000;
  font-size: 40px;
  font-family: Irish Grover, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-13 {
  width: 226px;
  height: 58px;
  color: #000000;
  font-size: 40px;
  font-family: Irish Grover, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-14 {
  width: 226px;
  height: 58px;
  color: #000000;
  font-size: 40px;
  font-family: Irish Grover, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-16 {
  width: 441px;
  height: 136px;
  color: #ffffff;
  font-size: 65px;
  font-family: Nabla, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-17 {
  width: 263px;
  height: 112px;
  color: #ffffff;
  font-size: 39px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-18 {
  width: 263px;
  height: 112px;
  color: #ffffff;
  font-size: 39px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-19 {
  width: 235px;
  height: 147px;
  color: #ffffff;
  font-size: 39px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-20 {
  width: 164px;
  height: 49px;
  color: #ffffff;
  font-size: 31px;
  font-family: Nabla, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-22 {
  width: 107px;
  height: 38px;
  color: #000000;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-23 {
  width: 107px;
  height: 38px;
  color: #000000;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-33 {
  width: 157px;
  height: 40px;
  color: #ffffff;
  font-size: 40px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-34 {
  width: 158px;
  height: 39px;
  color: #ffffff;
  font-size: 40px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-35 {
  width: 164px;
  height: 40px;
  color: #ffffff;
  font-size: 40px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-36 {
  width: 249px;
  height: 406px;
  color: #ffffff;
  font-size: 21px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-37 {
  width: 107px;
  height: 38px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-38 {
  width: 106px;
  height: 38px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-39 {
  width: 107px;
  height: 38px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-40 {
  width: 107px;
  height: 36px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-41 {
  width: 106px;
  height: 36px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-42 {
  width: 107px;
  height: 36px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-43 {
  width: 107px;
  height: 37px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-44 {
  width: 106px;
  height: 37px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-45 {
  width: 107px;
  height: 37px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-46 {
  width: 107px;
  height: 38px;
  color: #000000;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-47 {
  width: 106px;
  height: 38px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-48 {
  width: 107px;
  height: 38px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-62 {
  width: 169px;
  height: 43px;
  color: #000000;
  font-size: 30px;
  font-family: Jacques Francois Shadow, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-66 {
  width: 197px;
  height: 38px;
  color: #000000;
  font-size: 30px;
  font-family: Jacques Francois Shadow, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-67 {
  width: 197px;
  height: 38px;
  color: #000000;
  font-size: 30px;
  font-family: Jacques Francois Shadow, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-68 {
  width: 230px;
  height: 43px;
  color: #000000;
  font-size: 30px;
  font-family: Jacques Francois Shadow, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-69 {
  width: 455px;
  height: 161px;
  color: #000000;
  font-size: 25px;
  font-family: Jaini, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-70 {
  width: 455px;
  height: 161px;
  color: #000000;
  font-size: 25px;
  font-family: Jaini, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-71 {
  width: 455px;
  height: 162px;
  color: #000000;
  font-size: 25px;
  font-family: Jaini, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-72 {
  width: 455px;
  height: 162px;
  color: #000000;
  font-size: 25px;
  font-family: Jaini, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-75 {
  width: 337px;
  height: 57px;
  color: #ffffff;
  font-size: 26px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: center;
  vertical-align: top;
}
.text-0-1-76 {
  width: 298px;
  height: 52px;
  color: #ffffff;
  font-size: 26px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: center;
  vertical-align: top;
}
.text-0-1-77 {
  width: 466px;
  height: 379px;
  color: #000000;
  font-size: 27px;
  font-family: Jersey 10, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-78 {
  width: 482px;
  height: 456px;
  color: #000000;
  font-size: 28px;
  font-family: Jersey 10, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-80 {
  width: 707px;
  height: 377px;
  color: #000000;
  font-size: 29px;
  font-family: Jersey 10, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-82 {
  width: 304px;
  height: 41px;
  color: #ffffff;
  font-size: 30px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: center;
  vertical-align: top;
}
.text-0-1-84 {
  width: 338px;
  height: 49px;
  color: #000000;
  font-size: 20px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-86 {
  width: 218px;
  height: 50px;
  color: #ffffff;
  font-size: 45px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-87 {
  width: 372px;
  height: 243px;
  color: #000000;
  font-size: 20px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-92 {
  width: 120px;
  height: 50px;
  color: #000000;
  font-size: 36px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-93 {
  width: 136px;
  height: 50px;
  color: #000000;
  font-size: 36px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-94 {
  width: 137px;
  height: 50px;
  color: #000000;
  font-size: 36px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-95 {
  width: 120px;
  height: 50px;
  color: #000000;
  font-size: 36px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-96 {
  width: 107px;
  height: 37px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-97 {
  width: 107px;
  height: 37px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-98 {
  width: 107px;
  height: 37px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-99 {
  width: 107px;
  height: 37px;
  color: #ffffff;
  font-size: 25px;
  font-family: Nerko One, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-102 {
  width: 209px;
  height: 41px;
  color: #ffffff;
  font-size: 36px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: center;
  vertical-align: top;
}
.text-0-1-105 {
  width: 263px;
  height: 40px;
  color: #000000;
  font-size: 36px;
  font-family: Kavoon, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-106 {
  width: 641px;
  height: 325px;
  color: #ffffff;
  font-size: 36px;
  font-family: Kavoon, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-107 {
  width: 479px;
  height: 83px;
  color: #ffffff;
  font-size: 48px;
  font-family: Kavoon, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-109 {
  width: 639px;
  height: 62px;
  color: #000000;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-111 {
  width: 639px;
  height: 62px;
  color: #000000;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-113 {
  width: 309px;
  height: 24px;
  color: #000000;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-115 {
  width: 309px;
  height: 24px;
  color: #000000;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-117 {
  width: 639px;
  height: 62px;
  color: #000000;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-119 {
  width: 299px;
  height: 62px;
  color: #000000;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-120 {
  width: 503px;
  height: 45px;
  color: #ffffff;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-121 {
  width: 430px;
  height: 108px;
  color: #ffffff;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-122 {
  width: 430px;
  height: 108px;
  color: #ffffff;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-123 {
  width: 430px;
  height: 108px;
  color: #ffffff;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-124 {
  width: 430px;
  height: 108px;
  color: #ffffff;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-125 {
  width: 452px;
  height: 127px;
  color: #ffffff;
  font-size: 24px;
  font-family: Kadwa, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
